<div class="depot_form">
  <% if flash[:alert] %>
      <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag do %>
      <fieldset>
        <legend>Please Log In</legend>
        <div class="name">
          <%= label_tag :name, 'Name:', class: "name-title" %>
          <%= text_field_tag :name, params[:name], class: "name-field" %>
        </div>
        <div class="password">
          <%= label_tag :password, 'Password:', class: "password-title" %>
          <%= password_field_tag :password, params[:password], class: "password-field" %>
        </div>
        <div class="login">
          <%= submit_tag "Login", class: "login" %>
        </div>
      </fieldset>
  <% end %>
</div>